* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

body {
    /* max-height: 100vh; */
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: burlywood; */
}

#wrapper {
    border: 2px solid yellow;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#navbar {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* border: 2px solid black; */
    height: 44px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#nav-one {
    /* border: 2px solid yellow; */
    width: 12%;
    height: 100%;
    /* border: 2px solid blue; */
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    font-size: .85rem;
    padding: 12px;
}

#nav-one > li {
    display: inline-block;
    flex: 1 0 auto;
}

#nav-two {
    /* border: 2px solid red; */
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    font-size: .85rem;
    /* line-height: 40px; */
    padding: 12px;
}

#nav-one > li > a {
    text-align: center;
    /* border: 2px solid blue; */
    padding: 2px;
}

#nav-two > li {
    display: inline-block;
    flex: 1 0 auto;
}

#nav-two > li > a {
    text-align: center;
    /* border: 2px solid blue; */
    padding: 2px;
}

main {
    margin-top: 44px;
    height: calc(100% - 88px);
    border: 3px solid red;
}

#search-bar {
    border: 1px solid gray;
}

footer {
    position: absolute;
    bottom: 0;
    left: o;
    width: 100vw;
    height: 44px;
    overflow: hidden;
    /* border: 2px solid black; */
}