* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

body {
    /* max-height: 100vh; */
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: burlywood; */
}

#wrapper {
    /* border: 2px solid yellow; */
    height: 100vh;
    max-height: 100vh;
    margin: 0 auto;
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(44, 43, 43);
    font-size: .95rem;
}

a:hover {
    text-decoration: underline;
}

#navbar {
    /* border: 2px solid yellow; */
    width: 100%;
    flex: 1 0 44px;
    position: relative;
}

#nav-one {
    /* border: 2px solid yellow; */
    width: 5%;
    height: 100%;
    position: absolute;
    top:8px;
    left:16px;
    display: flex;
    line-height: 36px;
}

#nav-one > li {
    /* border: 2px solid red; */
    flex: 1 0 auto;
    text-align: center;
}

#nav-one > li > a {
    /* border: 2px solid blue; */
    text-align: center;
    padding: 2px;
}


#nav-two {
    /* border: 2px solid red; */
    width: 16%;
    height: 100%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    font-size: .85;
    justify-content: space-evenly;
}


#nav-two > li {
    /* border: 2px solid yellow; */
    display: flex;
    flex: 1 0 auto;
    padding-right: 8px;
    height: 100%;
    position: relative;
}

#nav-two > li > a {
    /* border: 2px solid blue;  */
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.apps-grid {
    /* border: 2px solid yellow; */
    margin: 0 auto;
    height: 32px;
}

#btn-sign-in {
    border: 2px solid #3185fc;
    background-color: #3185fc;
    color: #d5d5d5;
    padding: 8px 8px 8px 8px;
    height: 36px;
    width: 72px;
    border-radius: 4px;
}

#btn-sign-in:hover {
    border: 1px solid #353535;
    background-color: #d5d5d5;
    color: #3185fc;
}

main {
    /* border: 3px solid red; */
    /* height: calc(100% - 88px);
    margin-top: 44px;
    margin-bottom: 44px; */
    flex: 1 0 calc(100% - 92px);
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#img {
    /* border: 2px solid;  */
    flex: 1 0 41%;
    max-height: 36%;
    position: relative;
} 

#img-logo {
    position: absolute;
    bottom: 12px;
    right: 50%;
    transform: translateX(50%);
}   

#search-box {
    /* border: 1px solid yellow; */
    flex: 1 0 11%;
    max-height: 11%;
    position: relative;
}

form { 
    border: 1px solid #d5d5d5;
    border-radius: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    width: 34%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 5px 2.5px 5px 2.5px;
}

form:hover {
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

#search-bar {
    /* border: 1px solid #3185fc; */
    font-size: 24px;
    color: #353535;
    outline: none;
    width: 86%;
    /* height: 44px; */
    /* margin: 0 auto; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; */
}

i {
    /* border: 2px solid black; */
    font-size: 20px;
    margin: 10px 10px;
    color: #3185fc;
    background: #FFFFFF;
}

i:hover {

    color: #c4c4c4;
}

.button-icon {
    background-color: transparent;
    border-radius: 50px;
    /* border: none; */
}

#buttons {
    /* border: 1px solid purple; */
    flex: 1 0 8%;
    max-height: 8%;
    display: flex;
    justify-content: center;
}

.button {
    height: 34px;
    margin: 6px;
    padding: 8px 12px;
    line-height: 18px;
    border-radius: 4px;
}


.button:hover {
    border: 1px solid rgba(230, 219, 219, 0.5);
    box-shadow: 1px 1px 1px rgba(0,0,0,.5);

}

#promotions{
    /* border: 1px solid saddlebrown;   */
    flex: 1 0 auto; 
}

#promotions > p {
    /* border: 3px solid yellow; */
    text-align: center;
}

footer {
    /* border: 2px solid blue; */
    flex: 1 0 44px;
    width: 100vw;
    overflow: hidden;
    display:flex;
    background-color: #f2f2f2;
}

.footer {
    /* border: 2px solid black; */
    flex: 1 0 33.3%;
}

#nav-three {
    /* border: 2px solid yellow; */
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: start;
}

#nav-three > li {
    /* border: 1px solid blue; */
    margin: 4px;
    padding: 8px;
}

#nav-four {
    /* border: 2px solid blue; */
    height: 100%;
    background-color: #f2f2f2;
    
}

#nav-four > li {
    /* border: 2px solid red; */
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#nav-four > li > a {
    /* border: 2px solid yellow; */
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#nav-five {
    /* border: 2px solid red; */
    background-color: #f2f2f2;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

#nav-five > li {
    /* border: 2px solid blue; */
    margin: 4px;
    padding: 8px;
} 
 